@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

@layer base {
    :root {
        /* colors */
        --bg-color: black;
        --col-bg-color: rgba(255, 255, 255, 0.2);
        --task-bg-color: rgba(255, 255, 255, 0.3);
        --text-base-color: white;
        --border-color: white;
        --btn-base-color: rgba(255, 255, 255, 0.3);
        --dlt-btn-color: #D71921;

        /* paddings */
        --padding-sm: 8px;
        --padding-md: 20px;
        --padding-lg: 32px;
        --padding-xl: 50px;
        --padding-2xl: 64px;
    }
}

@layer utilities {
    .selected {
        border: 2px dashed white;
        scale: 1.02;
    }
}

#todo-col::-webkit-scrollbar,
#prog-col::-webkit-scrollbar,
#comp-col::-webkit-scrollbar {
    display: none;
}